<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/homestyle.css' %}">

</head>
<body>
<div class="headlabel">  <h1>Croud Funding</h1> </div>
<div>
    <header class="logo">


        <nav>
            <ul>
                 <li><a href="/homepage" style="color: #fff; ">Home</a></li>
                <li><a href="/userviewcamp" style="color: #fff;">View Campaigns</a></li>
<!--                <li><a href="/userdonate" style="color: #fff;">Donate</a></li>-->
                <li><a href="/viewuserdonation" style="color: #fff;">View User Donation</a></li>
                <li><a href="/Login" style="color: #fff;">Logout</a></li>

            </ul>
        </nav>
    </header>
    </div>
</body>
</html>
